/* ------ SERVICE PAGE START ------ */

.side-nav{
    position: absolute;
    background-color: var(--first-color);
    height: 100vh;
    width: 85px;
}

.side-nav .side-nav-expand{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 30%);
    background-color: var(--first-color);
    cursor: pointer;
    z-index: 99;
    top: 3em;
    right: -1em;
    align-items: center;
    justify-content: center;
    display: flex;
    /* transform: rotateZ(-180deg); */
    transition: transform 200ms ease-in-out;
}

.side-nav .side-nav-expand i{
    font-size: 2em;
}

.side-nav .side-nav-expand:hover{
    background-color: var(--first-color-light);
}

.side-nav-list-item p,
.side-nav-list-item h3
{
    display: none;
}

.side-nav-open{
    width: 250px;
    z-index: 1;
}

.side-nav-open .side-nav-expand{
    transform: rotateZ(-180deg);
}

.side-nav-open .side-nav-list-item p,
.side-nav-open .side-nav-list-item h3
{
    display: block;
}

.side-nav .side-nav-list{
    display: flex;
    flex-direction: column;
}

.side-nav .side-nav-list .side-nav-list-item{
    transition: all 200ms ease-in;
    padding: 1em 1.5em;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.side-nav .side-nav-list .side-nav-list-item:nth-child(1):hover{
    background-color: var(--first-color);
}

.side-nav .side-nav-list .side-nav-list-item:hover{
    background-color: var(--first-color-light);
}

.side-nav .side-nav-list .side-nav-list-item a{
    display: flex;
    gap: 1em;
    align-items: center;
    font-weight: var(--first-weight);
    color: var(--second-color-light);
}

.side-nav .side-nav-list .side-nav-list-item a i{
    fill: var(--second-color-light);
    font-size: 1.5em;
}

.side-nav .side-nav-list .side-nav-list-item.side-nav-list-item-active{
    background-color: var(--first-color-light);
    border-left: 4px solid orange;
}

.side-nav .side-nav-list .side-nav-list-item.side-nav-list-item-active i,
.side-nav .side-nav-list .side-nav-list-item.side-nav-list-item-active p
{
    color: orange;
}

.main{
    height: 100vh;
    background-color: var(--first-color-light);
    margin-left: 85px;
    margin-top: 85px;
    overflow-y: scroll;
}

.subNav-list{
    width: 100%;
    height: auto;
    display: flex;
    padding: 1.08em 0 ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--first-color);
}

.subNav-list .subNav-list-item{
    padding: 5px 10px;
}

.subNav-list .subNav-list-item a{
    display: flex;
    flex-direction: column;
    gap: .2em;
    justify-content: center;
    align-items: center;
}

.subNav-list .subNav-list-item a i{
    font-size: 1.3em;
    color: var(--second-color);
}

.subNav-list .subNav-list-item a p{
    text-transform: capitalize;
}

.subNav-list-item.subNav-list-item-active{
    border-bottom: 3px solid var(--second-color);
}

/* extra */

.service-content p{
    text-align: center;
}

.service h2{
    text-align: center;
    padding: 0.6em 0;
}

.service-content h3{
    color: rgba(30,45,65,0.9);
    text-align: center;
    padding-top: 2em;
    letter-spacing: 1px;
   
}
@media only screen and (max-width:600px){
    .service-content h3{
        margin-left:unset;
    }
}
/* Upload Button Start */
.click-upload{
    float: right;
    padding-top: 1.5em;
    padding-right: 1em;
}
.click-upload a{
    color: rgb(43, 43, 44);
    background-color: var(--first-color);
    font-size: 1em;
    border-radius: 10px;
    padding: 10px;
    font-weight: 800;
    cursor: pointer;
}
.click-upload .bx-upload{
    font-size: 1.2em;
    margin-left: 2px;
    font-weight: 900;
    color: rgb(43, 43, 44);
}
.click-upload:hover a,
.click-upload:hover a i{
    color:orange;
}
@media only screen and (max-width:600px){
    .click-upload a,
    .click-upload .bx-upload{
        font-size:0.9em;
    }
}
/* Upload Button End */

/* UPLOAD FORM START */
.file-upload-bg-color{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
}
.file-upload{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 100;
}

.file-upload h1{
    position: absolute;
    transform: rotate(45deg);
    color: black;
    top: -2%;
    left: 92%;
    font-size: 2.5em;
    font-weight: 400;
    cursor: pointer;
    z-index: 200;
}

.file-upload form{
    height: 350px;
    width: 375px;
    border: 1px solid rgb(140, 140, 173);
    background-color: var(--first-color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
}

.file-upload form textarea,
.file-upload form input[type=text]{
    font-size: 0.9em;
    width: 100%;
    padding: 5px;
    border: 1px solid grey;
    outline: none;
}

.file-upload form input[type=text]::placeholder{
    color: rgb(20, 20, 20);
    font-size: 1em;
    font-weight: 600;
}

.file-upload form select{
    width: 50%;
    padding: 4px;
}

.file-upload form input[type=file]{
  padding: 2px;
  outline: none;
}
.file-upload form button{
    width: 50%;
    padding: 5px;
    border-radius: 20px;

}
/* UPLOAD FORM END */

/* ------ SERVICE PAGE END ------ */

/* ------ ART GALLERY & PHOTOGRAPHY START ------ */

.hero-gallery{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0;
}

.hero-gallery .hero-card{
    width: 300px;
    height: auto;
    background-color: var(--first-color);
    margin: 15px;
    border-radius: 10px;
}

.hero-gallery .hero-card .hero-img img{
    border-radius: 10px 10px 0 0;
    height: 275px;
    object-fit: cover;
}

.hero-gallery .hero-card .hero-content{
    /* width: 100%;
    height: 25%; */
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    padding-top: 0.5em;
}

.hero-title{
    text-transform: capitalize;
    font-weight: var(--first-weight);
    text-align: center;
    font-size: var(--third-size);
    padding-right: 1em;
}

.love{
    background-color:  var(--first-color-light);
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.love i{
    font-size: 1.2em;
    cursor: pointer;
}

.love .redColor{
    color: red;
}

.by{
    width: 100%;
    display: flex;
    font-size: var(--fourth-size);
    color: var(--second-color-light);
    justify-content: center;
    align-items: center;
    padding: 1.5em 1em;
    text-align: center;
}

.by .uploader{
    color: var(--second-color);
    font-weight: var(--first-weight);
    text-transform: capitalize;
    padding-left: 10px;
    font-size: var(--third-size);
}

.profile-btn{
    justify-content: center;
    padding: 0.75em 0;
    border-radius: 5px;
    background-color: orange;
    width: 50%;
    margin: 0.5em auto;
    text-transform: uppercase;
    font-size: var(--fourth-size);
}

/* ------ ART GALLERY & PHOTOGRAPHY END ------ */

/* ------- SINGING START ------ */

.media{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.media .song{
    width: 300px;
    height: auto;
    margin: 15px;
    background-color: var(--first-color);
    border-radius: 35px;
}

.media .song audio{
    width: 100%;
}

.media .song .song-content{
    width: 100%;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    padding-top: 0.5em;
}

/* ------- SINGING END ------ */

.media .video{
    width: 300px;
    height: auto;
    background-color: var(--first-color);
    margin: 15px;
}

.media .video video{
    width: 100%;
    height: 190px;
}

.media .video .video-content{
    width: 100%;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    padding-top: 0.5em;
}

/* ------ DIRECTION START ------ */



/* ------ DIRECTION END ------ */

@media (max-width:500px){
    .hero-gallery .hero-card,
    .media .song,
    .media .video{
        margin: 15px 0;
    }
    .side-nav{
        width: 55px;
    }
    .main{
        margin-left: 55px;
    }
    .side-nav .side-nav-list .side-nav-list-item{
        padding: 1em .7em;
    }
    .side-nav-open {
        width: 225px;
        z-index: 1;
    }
}

/* ===== TECHINAL SECTION START ===== */

.orange{
    color: rgb(167, 167, 9) !important;
}
.red{
    color: red !important;
}
.green{
    color: green !important;
}
.fa-eye:hover{
    color: orange !important;;
}


.technical-content table {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    border-spacing: 3px 0;
    border: none;
}



.technical-content h3{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.technical-content table tr{
    border: 1px solid grey;
    
}

.technical-content table tr td{   
    padding: 10px 15px;
    border: 1px solid rgb(228, 225, 225);
}

.technical-content table tr td:last-child{
    width: 40px;
}
.technical-content table tr td:nth-child(5){
    width: 40px;
}
.technical-content table tr td:nth-child(4){
    width:50px;
}
.technical-content table tr td:nth-child(3){
    width:50px;
}

.technical-content table tr:nth-child(even){
    background-color: #e4ecf7;
}
.technical-content table tr:nth-child(odd){
    background-color:white;
}


.technical-content table tr:hover{
    background-color: #d7e5fa;
}

.bx{
    font-size: 20px;
    color: grey;
}
.bx:hover{
    color: orange;
}
/* ===== TECHINAL SECTION END ===== */